h1, h2, p {
  font-family: 'Solway', serif;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
  text-align: center;
}

p {
  font-size: 1.4em;
  text-align: center;
}

#photo-template {
  display: none;
}

#nav{
  display: flex;
  justify-content: flex-end;
}

select{
  height: 40px;
  margin-top: 5px;
  background-color: rgba(64, 231, 162, 0.548);
  font-size: 1.1em;
}

button{
  height: 40px;
  margin-top: 5px;
  background-color: rgba(64, 231, 162, 0.548);
  font-size: 1.2em;
}

section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

input[type=button] {
  background-color: #4CAF50;
  color: white;
  font-size: 2em;
}